.register-container {
	form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		max-width: 600px;
		margin-left: 0.5rem;

		h2 {
			font-size: 1.5rem;
			margin-top: 4.25rem;
			text-align: center;
		}

		& > div {
			display: flex;
			flex-direction: column;
		}

		label {
			font-size: 1rem;
			font-weight: bold;
		}

		input,
		select {
			width: 22.5rem;
			height: 3.125rem;
			padding: 0.5rem;
			border: 2px solid #a8a7a7;
			border-radius: 1.5rem;
			font-size: 0.875rem;

			&:focus {
				border-color: #007bff;
				outline: none;
				box-shadow: 0 0 4px #007bff66;
			}
		}

		input[type='submit'] {
			align-self: center;
			width: 18.125rem;
			height: 2.7rem;
			font-size: 1.25rem;
			color: #ffffff;
			font-weight: bold;
			background-color: #ea0029;
		}
		input:invalid {
			border-color: red;
		}
		input:valid {
			border-color: #aaa;
			&.validate {
				border-color: green;
			}
		}
		span.error {
			color: red;
		}
	}
}
