.register-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.form-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.form-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	min-height: 650px;
}
.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.form-parts {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: start;
	margin-left: 0.25rem;
}
.iconContainer {
	display: flex;
	align-items: start;
	width: 100%;
	padding: 0.5rem;
}
h2 {
	font-size: 1.5rem;
	margin-top: 1rem;
	text-align: center;
}
label {
	font-size: 1rem;
	font-weight: bold;
}
input,
select, textarea {
	width: 22.5rem;
	height: 3.125rem;
	padding: 1rem;
	border: 2px solid #a8a7a7;
	border-radius: 1.5rem;
	font-size: 0.875rem;
	
}

input:focus, select:focus {
	outline: none;
	box-shadow: 0 0 4px #007bff66;
}

input[type='submit'] {
	align-self: center;
	width: 18.125rem;
	height: 2.7rem;
	padding: 0;
	border-radius: 1.5rem;
	font-size: 1.25rem;
	color: #ffffff;
	font-weight: bold;
	background-color: #ea0029;
}

input:invalid {
	border-color: #ea0029;
}

input:valid {
	border-color: #aaa;
	&.validate {
		border-color: green;
	}
}

span.error {
	color: #ea0029;
}
