.logoContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: start;
	padding: 0.5rem;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.imgApis {
	display: flex;
	width: 100%;
	margin-top: 3rem;
	align-items: center;
	justify-content: space-around;
}
.imgTicket {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.imagesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
}
.nameToIcons {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
}
.linkStyle {
	text-decoration: none;
	color: #000000;
}
