.stationsList {
	width: 90vw;
	max-width: 480px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	.dataStation {
		background-color: #fff;
		border: 1px solid #aaa;
		border-radius: 5px;
		padding: 0.5rem;
		cursor: pointer;
		&:hover {
			background-color: #f2f2f2;
		}
	}
}