:root {
	font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	min-width: 375px;
	height: 100%;
	color: #000000;
	background: linear-gradient(180deg, #f9e1de 60%, #ffffff 100%);
	background-attachment: fixed;
} 
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


img:hover {
	cursor: pointer;
}
button {
	cursor: pointer;
}
input[type='button'],
input[type='submit'] {
	cursor: pointer;
}
